* {
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main {
  border-radius: 20px;
  background-color: hsl(0, 0%, 12%);
  height: 1100px;
  width: 74%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jessica {
  color: white;
  border-radius: 50%;
  margin-bottom: 0px;
  margin-top: 5px;
}

#jes {
  font-weight: 900;
  color: white;
  margin-bottom: 50px;
  font-size: 40px;
}

#location {
  font-weight: 700;
  color:  hsl(75, 94%, 57%);
  font-size: 25px;
  margin-top: -30px;
  margin-bottom: 0px;
}

#career {
  font-weight: 400;
  color: white;
  margin-top: 50px;
  margin-bottom: -10px;
  font-size: 28px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.git {
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 40px;
  width: 150%;
  padding: 25px 100px 25px 100px;
  border-radius: 20px;
  font-size: 23px;
  border: none;
  color: white;
}

.front {
  color: white;
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 40px;
  padding: 25px 100px 25px 100px;
  border-radius: 20px;
  font-size: 23px;
  width: 150%;
  border: none;
}

.link {
  margin-bottom: 40px;
  color: white;
  background-color: hsl(0, 0%, 20%);
  padding: 25px 100px 25px 100px;
  border-radius: 20px;
  font-size: 23px;
  width: 150%;
  border: none;
}

.twitter {
  color: white;
  background-color: hsl(0, 0%, 20%);
  margin-bottom: 40px;
  padding: 25px 100px 25px 100px;
  border-radius: 20px;
  font-size: 23px;
  width: 150%;
  border: none;
}

.insta {
  color: white;
  background-color: hsl(0, 0%, 20%);
  border: none;
  margin-bottom: 5px;
  padding: 25px 100px 25px 100px;
  border-radius: 20px;
  font-size: 23px;
  width: 150%;
}